* {margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
}


.oya_show{
    display: flex;
    margin-right: 16%;
    margin-left: 16%;
    margin-top: 5%;
}

.show {
    height: 10px;
    width: 300px;
    
    }
    .show th,
    .show td {
    border: 1px solid #ccc;
    padding: 18.5px;
    text-align: center;
    }
    
    .show th {
    font-weight: bold;
    background-color: #dedede; 
}

.syusei_show{
    text-align: left;
}

.syusei_show:after {
	content: "";
	display: block;
	height: 4px;
    width: 150px;
	background: linear-gradient(to right, #E91E63, transparent);
}






@media screen and (max-width: 376px) {
    .oya_show{
        flex-wrap:wrap;	 
        margin-bottom: 10%;       
    }
    .syusei_show{
        text-align: left;
        margin-bottom: 5%;
        margin-top: 5%; 
}
.show {
    height: 10px;
    width: 250px;
    
    }
    .show th,
    .show td {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    }
    
    .show th {
    font-weight: bold;
    background-color: #dedede; 
}
}

@media screen and (max-width: 321px) {
    .oya_show{
        flex-wrap:wrap;
        margin-bottom: 10%;  
        height: 800px;
    }
    .syusei_show{
        text-align: left;
        margin-bottom: 5%;
        margin-top: 5%; 
}
.show {
    height: 10px;
    width: 220px;
    
    }
    .show th,
    .show td {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    }
    
    .show th {
    font-weight: bold;
    background-color: #dedede; 
}
}